/* reset + globals */

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* lib */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-fixed {
  flex: none;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-vertical {
  flex-direction: column;
}

.z-bump {
  z-index: 1;
}

.select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* app */

.app-container {
  height: 100%;
  overflow: hidden;
}

.app-header {
  position: relative;
}

/* drop shadow */
.app-header:before {
  content: "";
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 8px rgba(0,0,0,.28);
  height: 100%;
  left: -2%;
  position: absolute;
  top: 0;
  width: 104%;
  will-change: top,left;
  z-index: 1;
}

/* prevent dropshadow from intercepting interaction */
.app-header * {
  z-index: 1;
}

.app-bar {
  height: 30px;
  background: #58488a;
  color: white;
}

.app-content {
  background: rgb(240, 240, 240);
  overflow: auto;
  position: relative;
}

.app-bar-logo {
  width: 76px;
  line-height: 28px;
  text-align: center;
}

.app-url-bar {
  font-size: 14px;
  outline: none;
  border: 0px;
  padding: 6px;
  padding-top: 4px;
}

.dapp-sandbox {
  position: absolute;
  width: 100%;
  /* 4px seems to come from iframe, but not sure how */
  /* this eliminates the scrollbar */
  height: calc(100% - 4px);
}

.app-section-about {
  height: auto;
  min-height: 16em;
}

.app-section-identity h1, .app-section-identity h2 {
  text-transform: uppercase;
}

.app-section-identity header {
  padding-bottom: 6px
}

.identities-summary {
  margin: 10px;
  margin-bottom: 36px;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  background: rgb(88, 72, 138);
  color: white;
}

.identities-summary button {
  margin: 8px;
  margin-bottom: 0;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;
  background-color: rgb(240, 240, 240);
}

.identities-summary h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 8px;
}

.identities-summary table {
  min-width: 300px;
  margin-left: 14px;
}

section.local-identities .lock-icon {
  margin: 0 auto;
  display: block;
  width: 150px;
}

section.local-identities input {
  margin: 0 auto;
  display: block;
}

.identity-container {
  border-radius: 8px;
  background: rgb(88, 72, 138);
  color: white;
  padding: 16px;
  margin: 10px;
}

.identity-container h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 8px;
}

.identity-container table {
  min-width: 300px;
  margin-left: 14px;
}

.new-identity-container {
  font-size: 18px;
  padding: 8px;
}

.trending-container {
  height: 240px;
  width: 220px;
  padding: 16px;
  padding-top: 22px;
  margin: 20px;
  border-radius: 8px 0;
  background: #58488a;
  color: white;
}

.trending-container h3 {
  text-align: center;
  font-size: 22px;
  padding-top: 31px;
  padding-bottom: 14px;
}

.notification {
  width: 100%;
  padding: 4px;
  padding-left: 12px;
  line-height: 16px;
  height: 26px;
  font-size: 14px;
}

.notification:nth-child(even) {
  background: rgb(218, 218, 218);
}

.notification:nth-child(odd) {
  background: rgb(250, 250, 250);
}

/* doodads */

.btn-hamburger {
  width: 48px;
}

.btn-hamburger:after {
  display: block;
  content: '☰';
  font-size: 19px;
  color: inherit;
}

.btn-empty {
  border: none;
  background: transparent;
  color: inherit;
}

.subnav-item {
  padding: 12px;
  text-transform: uppercase;
  font-size: 12px;
}

.subnav-item:hover {
  color: #f18cff;
}

/* debug */

.debug-box {
  /*display: block;*/
  /*width: 40px;*/
  height: 40px;
  margin: 5px;
  background: orange;
}