/* reset + globals */

/* Colors 

slateblue #506F8B 
darkblue #40586f
orange #df6b0e


*/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic,300,300italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.4em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Arvo', Arial, sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
  color: #df6b0e;
}

/* lib */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-fixed {
  flex: none;
}

.flex-grow {
  flex: 1 1 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-vertical {
  flex-direction: column;
}

.z-bump {
  z-index: 1;
}

.select-none {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* logo */

.logo {
  font-family: 'Arvo', Arial, sans-serif;
}


/* app */

.app-container {
  height: 100%;
  overflow: hidden;
}

.app-header {
  position: relative;
}

/* drop shadow */
.app-header:before {
  content: "";
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 8px rgba(0,0,0,.28);
  height: 100%;
  left: -2%;
  position: absolute;
  top: 0;
  width: 104%;
  will-change: top,left;
  z-index: 1;
}

/* prevent dropshadow from intercepting interaction */
.app-header * {
  z-index: 1;
}

.app-bar {
  height: 30px;
  background: #506F8B;
  color: white;
}

.app-content {
  background: #F0F0F0 url(../assets/satinweave.png) repeat;
  overflow: auto;
  position: relative;
}
/* retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
    .app-content {
      background: #F0F0F0 url(../assets/satinweave_@2X.png) repeat;
    }
}

.app-bar-logo {
  width: 86px;
  line-height: 28px;
  text-align: center;
  margin: 2px 10px auto 10px;
}

.app-url-bar {
  font-size: 14px;
  outline: none;
  border: 0px;
  padding: 6px;
  padding-top: 4px;
}

.dapp-sandbox {
  position: absolute;
  width: 100%;
  /* 4px seems to come from iframe, but not sure how */
  /* this eliminates the scrollbar */
  height: calc(100% - 4px);
}

.app-section-about {
  height: auto;
  min-height: 16em;
}

.app-section-about h1.logo {
  background: transparent url('../assets/logo-tight.png') no-repeat;
  background-size: contain;
  margin: 20px auto;
  width: 100px;
  height: 128px;
}

/* retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
    .app-section-about h1.logo { 
      background: transparent url(../assets/logo-small@2x.png) no-repeat;
      background-size: 100px 128px;
    }
}

.app-section-about h2 {
  font-size: 2em;
  color: #506F8B;
  font-weight: 300;
  margin: 30px auto 20px;
}

.app-section-about span.desc {
  text-align: center;
  font-weight: 300;
}

.app-section-identity h1,
.app-section-trending h1 {
  color: #506F8B;
  font-size: 1.8em;
  margin: 10px auto 30px;
  text-align: center;
}

.app-section-identity header {
  max-width: 500px;
  margin: 0 auto 20px;
}

.app-section-identity h3.id_heading {
  font-weight: bold;
  color: #506F8B;
  margin-bottom: 5px;
}

.app-section-identity h3.id_desc {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  margin: 0 auto;
  text-align: left;
}

.identities-summary {
  margin: 10px;
  margin-bottom: 36px;
  padding: 16px;
  border-radius: 4px;
  background: #506F8B;
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.identities-summary button {
  margin: 8px;
  margin-bottom: 0;
  padding: 4px 10px;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid #506F8B;
  border-radius: 3px;
  margin-top: 30px;
  background-color: rgb(240, 240, 240);
}

.identities-summary button:hover {
  background-color: rgb(210, 210, 210);
  color: #FFFFFF;
  background: #506F8B;
  border: 1px solid #FFFFFF;
}

.identities-summary h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 8px;
}

.identities-summary table {
  min-width: 300px;
  margin-left: 14px;
  margin-right: 20px;
}

section.local-identities .lock-icon {
  margin: 0 auto;
  display: block;
  width: 120px;
}

section.local-identities input {
  margin: 0 auto;
  display: block;
  padding: 3px 8px;
  font-size: 1em;
  font-weight: 300;
  border: 2px solid #506F8B;
}

.identity-container {
  border-radius: 8px;
  background: #506F8B;
  color: white;
  padding: 16px;
  margin: 10px;
}

.identity-container.color0 {
  background: #5B8289;
}

.identity-container.color1 {
  background: #3D3E5C;
}

.identity-container.color2 {
  background: #506F8B;
}

.identity-container.color3 {
  background: #C63963;
}

.identity-container.color4 {
  background: #903D57;
}

.identity-container div.icon {
  margin-left: 20px;
  font-size: 30px;
  background: transparent url(../assets/user.png) no-repeat center center;
  width: 50px;
  height: 45px;
  font-family: FontAwesome;
  padding: 33px;
  border-radius: 50%;
  line-height: 38px;
  text-shadow: none;
  border: 2px solid #ececec;
}

/* retina */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {
    .identity-container div.icon {
      background: transparent url(../assets/user.png) no-repeat center center;
      background-size: 50px 45px;
    }
}

.identity-container h4 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 8px;
}

.identity-container table {
  min-width: 300px;
  margin-left: 14px;
}

.identity-container table tr {
  margin-bottom: 2px;
}

.identity-container table td {
  font-weight: 300;
  text-transform: uppercase;
}

.identity-container table td.label {
  font-weight: 400;
  text-transform: none;
}

.new-identity-container {
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.trending-container {
  height: 240px;
  width: 220px;
  padding: 16px;
  padding-top: 18px;
  margin: 20px;
  border-radius: 4px;
  background-color: #506F8B;
  color: #e0e0e0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Arial, sans-serif;
}

.trending-container:hover {
  background-color: #40586f;
  color: #FFFFFF;
}

.trending-container h3 {
  font-size: 1.6em;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 15px;
}

.trending-container span.date {
  font-weight: 300;
  font-size: 0.8em;
  color: #ccc;
  margin-bottom: 10px;
}

.trending-container span.desc {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.trending-container span.author {
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.trending-container span.rating:before {
  font-size: 0.8em;
  content: "\f005 \f005 \f005 \f005 \f006";
  font-family: FontAwesome;
}

.notification {
  width: 100%;
  padding: 4px;
  padding-left: 12px;
  line-height: 16px;
  height: 26px;
  font-size: 14px;
}

.notification:nth-child(even) {
  background: rgb(218, 218, 218);
}

.notification:nth-child(odd) {
  background: rgb(250, 250, 250);
}

/* doodads */

.btn-hamburger {
  width: 48px;
}

.btn-hamburger:after {
  display: block;
  content: '☰';
  font-size: 19px;
  color: inherit;
}

.btn-empty {
  border: none;
  background: transparent;
  color: inherit;
}

.subnav-item {
  padding: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Arvo', Arial, serif;
}

.subnav-item:hover {
  color: #df6b0e;
}

/* debug */

.debug-box {
  /*display: block;*/
  /*width: 40px;*/
  height: 40px;
  margin: 5px;
  background: orange;
}

/* animations */

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    /*animation-iteration-count:infinite; */
    /*-webkit-animation-iteration-count:infinite; */
} 

@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
.tada { 
    -webkit-animation-name: tada; 
    animation-name: tada; 
}

@-webkit-keyframes wobble { 
  0% { -webkit-transform: translateX(0%); } 
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
  30% { -webkit-transform: translateX(20%) rotate(3deg); } 
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
  60% { -webkit-transform: translateX(10%) rotate(2deg); } 
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); } 
  100% { -webkit-transform: translateX(0%); } 
} 
@keyframes wobble { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
} 
.wobble { 
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
}

@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}

@keyframes bobbleBounce {
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    30% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    40% { 
        transform: translateY(10px); 
    } 
    50% { 
        transform: translateY(0); 
    }
   50% { transform: translateX(0%); } 
  57% { transform: translateX(-25%) rotate(-5deg); } 
  65% { transform: translateX(20%) rotate(3deg); } 
  72% { transform: translateX(-15%) rotate(-3deg); } 
  80% { transform: translateX(10%) rotate(2deg); } 
  87% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); }  
}

.bobbleBounce {
  animation-name: bobbleBounce;
}

@keyframes gentleWave {
   0% { transform: translateX(0%); }
  /*15% { transform: translateX(-25%); } */
  /*30% { transform: translateX(20%); } */
  /*45% { transform: translateX(-15%); } */
  /*60% { transform: translateX(10%); } */
  /*75% { transform: translateX(-5%); } */
  /*15% { transform: translateX(0%) rotate(-5deg); } */
  /*30% { transform: translateX(0%) rotate(3deg); } */
  /*45% { transform: translateX(0%) rotate(-3deg); } */
  /*60% { transform: translateX(0%) rotate(2deg); } */
  /*75% { transform: translateX(0%) rotate(-1deg); } */
  15% { transform: translateX(-15%) rotate(-3deg); }
  30% { transform: translateX(10%) rotate(2deg); } 
  45% { transform: translateX(-7%) rotate(-2deg); } 
  60% { transform: translateX(5%) rotate(1deg); } 
  75% { transform: translateX(-3%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
}

.gentleWave {
  animation-name: gentleWave;
}

@keyframes logoFadeIn {
  0% {  background: transparent url('../assets/logo-tight.png') no-repeat;  } 
/*  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); }*/ 
  100% { background: transparent url('../assets/logo-small.png') no-repeat; } 
}

.logoFadeIn {
  animation-name: logoFadeIn;
}

@keyframes rollIn {
  0% { transform: translateX(0%); }
  15% { transform: translateX(0%) rotate(-1deg); }
  /*30% { transform: translateX(0%) rotate(-2deg); } 
  45% { transform: translateX(0%) rotate(-3deg); } 
  60% { transform: translateX(0%) rotate(-4deg); } */
  75% { transform: translateX(5%) rotate(-30deg); } 
  100% { transform: translateX(0%); } 
}

.rollIn {
  animation-name: rollIn;
  /*animation-iteration-count: infinite;*/
}

.anim-late {
  animation-delay: 0.5s;
}

h1.logo.animated {
  height: 200px;
  width: 200px;

}